:root {
  /* base colors */
  --brand-color-light-cyan: #95cccd;
  --brand-color-dark-gray: #31343d;
  --brand-color-off-white: #ededf6;
  --brand-color-cold-gray: #455875;
  --brand-color-mid-gray: #8494a5;

  /* root typography */
  line-height: 1.3;
  font-size: 16px;
  font-family: sans-serif;
  /* default background color */
  background-color: var(--brand-color-off-white);
}
/*  basic heading Typography element setting
    h2 is used for Logo
    h1 is used for title in hero image section
*/
h1,
h2 {
  font-weight: bold;
  color: var(--brand-color-dark-gray);
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 3rem;
}
p {
  line-height: 1.5;
  margin-bottom: 1rem;
  font-size: 1rem;
}

/* PAGE HEADER section */
/* initiate and hide mobile menu and mobile nav */
#mobile-menu {
  display: none;
}
.mobile-menu {
  display: none;
  font-size: 2rem;
  color: var(--brand-color-light-cyan);
}
.mobile-nav {
  display: none;
}

.page-header {
  background-color: var(--brand-color-dark-gray);
  padding: 10px 5vw 10px 0;
}
.page-header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1440px;
}
/* LOGO */
.brand h2 {
  background-color: var(--brand-color-light-cyan);
  padding: 5px 10px 5px 5vw;
}
.brand h2 a {
  text-decoration: none;
  color: var(--brand-color-dark-gray);
}
/* nav items - wide screen setting */
nav ul li {
  display: inline-block;
  margin: auto 5px;
}
nav ul li a {
  text-decoration: none;
  font-size: 1rem;
  color: var(--brand-color-light-cyan);
  border-bottom: 3px solid var(--brand-color-light-cyan);
  padding: 5px 10px;
}

nav ul li a:hover,
nav ul li a:focus,
nav ul li a:active {
  border-bottom: 3px solid var(--brand-color-off-white);
  color: var(--brand-color-off-white);
}
/* END NAVBAR / PAGE HEADER section */

/* HERO IMAGE section */
.hero-image {
  width: auto;
  min-height: 150px;
  background-image: url("../images/Hero-image-BG.jpg");
  background-size: cover;
  position: relative;
  padding: 20px 10vw;
  display: flex;
  justify-content: center;
}
.container {
  max-width: 1200px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: right;
}
.hero-image .subtitle {
  background-color: var(--brand-color-light-cyan);
  width: fit-content;
  height: fit-content;
  padding: 5px 10px;
  font-size: 2rem;
  text-align: right;
  align-self: flex-end;
}
/* END HERO IMAGE section */


/* MAIN CONTENT section */
.content {
  background-color: var(--brand-color-off-white);
  padding: 20px;
  max-width: 1200px;
  /* Word count per line will be too long to read if this container is too wide */
  margin: 0 auto;
}
/* general setting for articles in content section */
article {
  display: flex;
  padding: 1rem 0;
}

.article-header {
  margin-right: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  border-right: 3px solid var(--brand-color-cold-gray);
  flex-basis: 20%;
}
.article-header h3 {
  font-size: 3rem;
  text-align: right;
  color: var(--brand-color-cold-gray);
}
.article-body {
  padding: 0.5rem 1rem 1rem;
  width: 80%;
  flex-basis: 80%;
}
/* specification for Work Article - portfolio grid */
#work .article-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

.portfolio-item {
  width: 100%;
  height: auto;
  position: relative;
  background-color: var(--brand-color-light-cyan);
  padding: 5px;
  margin-bottom: 1rem;
  flex-basis: 1;
}
.portfolio-img {
  width: 100%;
  max-height: 200px;
  overflow: hidden;
  position: relative;
}
.portfolio-img img {
  width: 100%;
  margin: 0 auto;
  transition: transform 0.2s ease-in-out;
}
/* overlay portfolio image with solid color */
.portfolio-img::before {
  width: 100%;
  height: 100%;
  content: "";
  background-color: var(--brand-color-cold-gray);
  position: absolute;
  top: 0;
  transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
  opacity: 0.6;
}
.portfolio-desc {
  position: absolute;
  background-color: var(--brand-color-light-cyan);
  padding: 10px 10px 5px 20px;
  height: fit-content;
  bottom: 40px;
  color: var(--brand-color-dark-gray);
  line-height: 1.5;
}
.portfolio-desc h4 {
  font-size: 1.5rem;
  font-weight: bold;
}
.portfolio-desc p {
  margin-bottom: 5px;
}
.portfolio-item:hover .portfolio-img::before {
  opacity: 0;
  transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
}
.portfolio-item:hover img {
  transform: scale(1.1);
}
/* only the first portfolio gets feature full width, the rest are half-width */
#work .article-body .portfolio-item:not(:first-child) {
    flex-basis: 48%;
}
/* END PORTFOLIO Section */


/* CONTACT section */
.contact-links {
  width: 90%;
  height: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: auto;
  align-items: center;
  flex-direction: row;
}
.contact-links li {
  display: inline-block;
}
.contact-links a {
  text-decoration: none;
  padding: 10px;
  font-size: 1rem;
  color: var(--brand-color-dark-gray);
  border-bottom: 4px solid var(--brand-color-cold-gray);
}

.contact-links a:hover,
.contact-links a:focus,
.contact-links a:active {
  color: var(--brand-color-cold-gray);
  border-bottom: 7px solid var(--brand-color-light-cyan);
}


/* MEDIA QUERY - tablet screen 
    todo: 
     - brand/logo and navbar take full width, they stack in column direction
     - article headers take full width, change border right to border bottom, text align left

*/

@media screen and (max-width: 992px) {
  header.page-header {
    padding: 0;
  }
  .brand {
    width: 100%;
  }
  .brand h2 {
    margin: 0;
    text-align: center;
    padding: 20px;
  }
  .navbar {
    display: flex;
    flex-direction: column;
  }

  .nav-items {
    margin: 20px;
  }
  .nav-items ul li a {
    font-size: 1.4rem;
  }

  article {
    flex-direction: column;
    
  }
  .article-header {
    border-right: none;
    width: 90%;
    flex-basis: 90%;
    margin: auto;
  }
  .article-header h3 {
    text-align: left;
    border-bottom: 3px solid var(--brand-color-dark-gray);
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  .article-body {
    margin: auto;
    width: 90%;
    flex-basis: 90%;
  }
}

/* MEDIA QUERY on SD tablet screen
    todo:
    - center the h1 subtitle in hero image section
    - stacking portfolio items into 1 columns, and each of them should have full width
    - contact links/items change from inline block to stacking column list, and align left
*/
@media screen and (max-width: 768px) {
  .hero-image .container {
    justify-content: center;
  }
  #work .article-body .portfolio-item:not(:first-child) {
    flex-basis: 100%;
  }
  #contact .article-body {
    flex-direction: column;
  }
  .contact-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 0;
    margin-left: 0;
  }
  .contact-links li {
    display: block;
    margin-bottom: 30px;
    text-align: left;
  }
  .contact-links li a {
    padding-left: 0;
    padding-right: 5px;
  }
}

/* MEDIA QUERY - additional - phone screen 
    todo:
    -hide regular navbar
    -show mobile navbar button with hambuger bar
    -when hamberger bar is clicked, the mobile nav will slide into screen 
    -when the X button on mobile nav clicked, the mobile nav slide out of screen
*/

@media screen and (max-width: 545px) {
  body {
    overflow-x: hidden;
  }
  .hero-image .subtitle {
      text-align: center;
  }
  .page-header .navbar {
    flex-direction: row;
  }
  .page-header .navbar .nav-items > ul {
    display: none;
  }
  .mobile-nav {
    display: block;
  }
  .mobile-menu li {
    width: 100%;
    display: block;
  }
  .mobile-menu {
    display: inline;
    font-size: 3rem;
  }
  .mobile-nav {
    position: absolute;
    overflow: none;
    width: 100vw;
    height: 100vh;
    background-color: var(--brand-color-cold-gray);
    z-index: 2;
    left: 100vw;
    top: 0;
    transition: left 1s ease-in-out, visibility 1s ease-in-out;
    padding: 30px;
    visibility: collapse;
  }

  .mobile-nav label {
    position: absolute;
    left: 90vw;
    font-size: 3rem;
  }
  .mobile-nav ul {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
  }
  .mobile-nav a {
    text-decoration: none;
    position: relative;
    display: block;
    width: 100%;
    margin: 30px;
  }
  .nav-items .mobile-nav ul li a {
    font-size: 3rem;
  }

  #mobile-menu:checked ~ .mobile-nav {
    display: block;
    visibility: visible;
    left: 0;
  }
 
}
